* {
	box-sizing: border-box;
}

header {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

header h1 {
	font-weight: 400;
	letter-spacing: 1em;
}

header h2 {
	margin-bottom: 5px;
	font-size: 20px;
}

header h3 {
	margin: 0;
	font-size: 14px;
}

header h4 {
	margin-top: 0;
}

.lab-container {
	margin-top: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	font-family: "Montserrat", sans-serif;
}

.lab-container a {
	text-align: center;
	color: white;
	text-decoration: none;
}

.lab-container p {
	text-align: center;
	height: 100px;
	margin: 10px 20px;
	flex: 1;
	padding: 50px;
	background-color: #3448e9;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 22px 40px -12px #4c5feb;
	font-size: 14px;
}
